QWidget {
    font-family: arno;
    font-weight: bold;
}

QMainWindow {
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#ShowPreviewButton {
    background-color: rgb(0, 255, 255);
    border: 1px solid black;
    font-weight: bold;
}

#ShowPreviewButton:pressed {
    background-color: rgb(0, 180, 180);
}

#NewGameButton {
    font-size: 18px;
    font-weight: 900;
    background-color: #fee27e;
    border: 1px solid black;
}